<?xml version="1.0"?>
<robot name="planter">
  <!-- morphit:centroid 0.005383 0.004312 0.077484 -->
  <material name="default_color">
    <color rgba="0.200000 0.600000 1.000000 1.000000"/>
  </material>
  <link name="base">
    <inertial>
      <mass value="0.001000"/>
      <inertia ixx="0.000010" ixy="0.0" ixz="0.0" iyy="0.000010" iyz="0.0" izz="0.000010"/>
    </inertial>
  </link>
  <link name="sphere_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029248"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029248"/></geometry>
    </collision>
    <inertial>
      <mass value="0.053219"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_0_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_0"/>
    <origin xyz="-0.045003 -0.000259 -0.057093" rpy="0 0 0"/>
  </joint>
  <link name="sphere_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.034022"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.034022"/></geometry>
    </collision>
    <inertial>
      <mass value="0.083761"/>
      <inertia ixx="0.000039" ixy="0.0" ixz="0.0" iyy="0.000039" iyz="0.0" izz="0.000039"/>
    </inertial>
  </link>
  <joint name="sphere_1_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_1"/>
    <origin xyz="-0.072650 0.012187 0.054890" rpy="0 0 0"/>
  </joint>
  <link name="sphere_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029597"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029597"/></geometry>
    </collision>
    <inertial>
      <mass value="0.055144"/>
      <inertia ixx="0.000019" ixy="0.0" ixz="0.0" iyy="0.000019" iyz="0.0" izz="0.000019"/>
    </inertial>
  </link>
  <joint name="sphere_2_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_2"/>
    <origin xyz="0.026677 0.056852 0.055998" rpy="0 0 0"/>
  </joint>
  <link name="sphere_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.027234"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.027234"/></geometry>
    </collision>
    <inertial>
      <mass value="0.042962"/>
      <inertia ixx="0.000013" ixy="0.0" ixz="0.0" iyy="0.000013" iyz="0.0" izz="0.000013"/>
    </inertial>
  </link>
  <joint name="sphere_3_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_3"/>
    <origin xyz="0.005997 0.054904 -0.000765" rpy="0 0 0"/>
  </joint>
  <link name="sphere_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.031122"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.031122"/></geometry>
    </collision>
    <inertial>
      <mass value="0.064117"/>
      <inertia ixx="0.000025" ixy="0.0" ixz="0.0" iyy="0.000025" iyz="0.0" izz="0.000025"/>
    </inertial>
  </link>
  <joint name="sphere_4_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_4"/>
    <origin xyz="0.037231 -0.031925 -0.032914" rpy="0 0 0"/>
  </joint>
  <link name="sphere_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.031212"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.031212"/></geometry>
    </collision>
    <inertial>
      <mass value="0.064670"/>
      <inertia ixx="0.000025" ixy="0.0" ixz="0.0" iyy="0.000025" iyz="0.0" izz="0.000025"/>
    </inertial>
  </link>
  <joint name="sphere_5_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_5"/>
    <origin xyz="-0.031328 0.059125 0.053807" rpy="0 0 0"/>
  </joint>
  <link name="sphere_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026092"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026092"/></geometry>
    </collision>
    <inertial>
      <mass value="0.037780"/>
      <inertia ixx="0.000010" ixy="0.0" ixz="0.0" iyy="0.000010" iyz="0.0" izz="0.000010"/>
    </inertial>
  </link>
  <joint name="sphere_6_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_6"/>
    <origin xyz="0.057067 -0.035073 0.059692" rpy="0 0 0"/>
  </joint>
  <link name="sphere_7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.022367"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.022367"/></geometry>
    </collision>
    <inertial>
      <mass value="0.023801"/>
      <inertia ixx="0.000005" ixy="0.0" ixz="0.0" iyy="0.000005" iyz="0.0" izz="0.000005"/>
    </inertial>
  </link>
  <joint name="sphere_7_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_7"/>
    <origin xyz="0.039245 0.026591 -0.026845" rpy="0 0 0"/>
  </joint>
  <link name="sphere_8">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.024211"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.024211"/></geometry>
    </collision>
    <inertial>
      <mass value="0.030184"/>
      <inertia ixx="0.000007" ixy="0.0" ixz="0.0" iyy="0.000007" iyz="0.0" izz="0.000007"/>
    </inertial>
  </link>
  <joint name="sphere_8_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_8"/>
    <origin xyz="0.031934 0.006855 -0.069624" rpy="0 0 0"/>
  </joint>
  <link name="sphere_9">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029443"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029443"/></geometry>
    </collision>
    <inertial>
      <mass value="0.054286"/>
      <inertia ixx="0.000019" ixy="0.0" ixz="0.0" iyy="0.000019" iyz="0.0" izz="0.000019"/>
    </inertial>
  </link>
  <joint name="sphere_9_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_9"/>
    <origin xyz="-0.017447 -0.061293 -0.000048" rpy="0 0 0"/>
  </joint>
  <link name="sphere_10">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.027996"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.027996"/></geometry>
    </collision>
    <inertial>
      <mass value="0.046670"/>
      <inertia ixx="0.000015" ixy="0.0" ixz="0.0" iyy="0.000015" iyz="0.0" izz="0.000015"/>
    </inertial>
  </link>
  <joint name="sphere_10_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_10"/>
    <origin xyz="-0.022046 -0.045586 -0.046438" rpy="0 0 0"/>
  </joint>
  <link name="sphere_11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026865"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026865"/></geometry>
    </collision>
    <inertial>
      <mass value="0.041240"/>
      <inertia ixx="0.000012" ixy="0.0" ixz="0.0" iyy="0.000012" iyz="0.0" izz="0.000012"/>
    </inertial>
  </link>
  <joint name="sphere_11_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_11"/>
    <origin xyz="0.000524 -0.023365 -0.072248" rpy="0 0 0"/>
  </joint>
  <link name="sphere_12">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035912"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035912"/></geometry>
    </collision>
    <inertial>
      <mass value="0.098512"/>
      <inertia ixx="0.000051" ixy="0.0" ixz="0.0" iyy="0.000051" iyz="0.0" izz="0.000051"/>
    </inertial>
  </link>
  <joint name="sphere_12_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_12"/>
    <origin xyz="-0.054589 -0.051624 0.055547" rpy="0 0 0"/>
  </joint>
  <link name="sphere_13">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030452"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030452"/></geometry>
    </collision>
    <inertial>
      <mass value="0.060061"/>
      <inertia ixx="0.000022" ixy="0.0" ixz="0.0" iyy="0.000022" iyz="0.0" izz="0.000022"/>
    </inertial>
  </link>
  <joint name="sphere_13_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_13"/>
    <origin xyz="-0.061641 -0.021735 -0.002835" rpy="0 0 0"/>
  </joint>
  <link name="sphere_14">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029200"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.029200"/></geometry>
    </collision>
    <inertial>
      <mass value="0.052954"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_14_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_14"/>
    <origin xyz="-0.006442 0.037788 -0.056134" rpy="0 0 0"/>
  </joint>
  <link name="sphere_15">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030480"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030480"/></geometry>
    </collision>
    <inertial>
      <mass value="0.060228"/>
      <inertia ixx="0.000022" ixy="0.0" ixz="0.0" iyy="0.000022" iyz="0.0" izz="0.000022"/>
    </inertial>
  </link>
  <joint name="sphere_15_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_15"/>
    <origin xyz="-0.045867 0.035235 -0.005643" rpy="0 0 0"/>
  </joint>
  <link name="sphere_16">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.024197"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.024197"/></geometry>
    </collision>
    <inertial>
      <mass value="0.030132"/>
      <inertia ixx="0.000007" ixy="0.0" ixz="0.0" iyy="0.000007" iyz="0.0" izz="0.000007"/>
    </inertial>
  </link>
  <joint name="sphere_16_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_16"/>
    <origin xyz="0.062718 0.014054 0.063712" rpy="0 0 0"/>
  </joint>
  <link name="sphere_17">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026676"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.026676"/></geometry>
    </collision>
    <inertial>
      <mass value="0.040375"/>
      <inertia ixx="0.000011" ixy="0.0" ixz="0.0" iyy="0.000011" iyz="0.0" izz="0.000011"/>
    </inertial>
  </link>
  <joint name="sphere_17_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_17"/>
    <origin xyz="0.040165 -0.046131 0.010915" rpy="0 0 0"/>
  </joint>
  <link name="sphere_18">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030425"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.030425"/></geometry>
    </collision>
    <inertial>
      <mass value="0.059906"/>
      <inertia ixx="0.000022" ixy="0.0" ixz="0.0" iyy="0.000022" iyz="0.0" izz="0.000022"/>
    </inertial>
  </link>
  <joint name="sphere_18_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_18"/>
    <origin xyz="0.055452 0.013398 0.016025" rpy="0 0 0"/>
  </joint>
</robot>
