<?xml version="1.0"?>
<robot name="toaster">
  <!-- morphit:centroid -0.002878 -0.006095 0.100813 -->
  <material name="default_color">
    <color rgba="0.200000 0.600000 1.000000 1.000000"/>
  </material>
  <link name="base">
    <inertial>
      <mass value="0.001000"/>
      <inertia ixx="0.000010" ixy="0.0" ixz="0.0" iyy="0.000010" iyz="0.0" izz="0.000010"/>
    </inertial>
  </link>
  <link name="sphere_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.050601"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.050601"/></geometry>
    </collision>
    <inertial>
      <mass value="0.068067"/>
      <inertia ixx="0.000070" ixy="0.0" ixz="0.0" iyy="0.000070" iyz="0.0" izz="0.000070"/>
    </inertial>
  </link>
  <joint name="sphere_0_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_0"/>
    <origin xyz="0.041142 -0.080501 -0.053569" rpy="0 0 0"/>
  </joint>
  <link name="sphere_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.058132"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.058132"/></geometry>
    </collision>
    <inertial>
      <mass value="0.103202"/>
      <inertia ixx="0.000139" ixy="0.0" ixz="0.0" iyy="0.000139" iyz="0.0" izz="0.000139"/>
    </inertial>
  </link>
  <joint name="sphere_1_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_1"/>
    <origin xyz="0.041643 -0.004872 -0.033536" rpy="0 0 0"/>
  </joint>
  <link name="sphere_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.055257"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.055257"/></geometry>
    </collision>
    <inertial>
      <mass value="0.088635"/>
      <inertia ixx="0.000108" ixy="0.0" ixz="0.0" iyy="0.000108" iyz="0.0" izz="0.000108"/>
    </inertial>
  </link>
  <joint name="sphere_2_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_2"/>
    <origin xyz="-0.040777 0.028399 -0.037954" rpy="0 0 0"/>
  </joint>
  <link name="sphere_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.050170"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.050170"/></geometry>
    </collision>
    <inertial>
      <mass value="0.066341"/>
      <inertia ixx="0.000067" ixy="0.0" ixz="0.0" iyy="0.000067" iyz="0.0" izz="0.000067"/>
    </inertial>
  </link>
  <joint name="sphere_3_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_3"/>
    <origin xyz="-0.025623 -0.088261 -0.053265" rpy="0 0 0"/>
  </joint>
  <link name="sphere_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038489"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038489"/></geometry>
    </collision>
    <inertial>
      <mass value="0.029954"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_4_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_4"/>
    <origin xyz="0.060578 0.009460 0.054758" rpy="0 0 0"/>
  </joint>
  <link name="sphere_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035637"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035637"/></geometry>
    </collision>
    <inertial>
      <mass value="0.023777"/>
      <inertia ixx="0.000012" ixy="0.0" ixz="0.0" iyy="0.000012" iyz="0.0" izz="0.000012"/>
    </inertial>
  </link>
  <joint name="sphere_5_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_5"/>
    <origin xyz="-0.032255 0.075780 0.057317" rpy="0 0 0"/>
  </joint>
  <link name="sphere_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035622"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035622"/></geometry>
    </collision>
    <inertial>
      <mass value="0.023747"/>
      <inertia ixx="0.000012" ixy="0.0" ixz="0.0" iyy="0.000012" iyz="0.0" izz="0.000012"/>
    </inertial>
  </link>
  <joint name="sphere_6_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_6"/>
    <origin xyz="-0.027470 0.096261 -0.069441" rpy="0 0 0"/>
  </joint>
  <link name="sphere_7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.051795"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.051795"/></geometry>
    </collision>
    <inertial>
      <mass value="0.073001"/>
      <inertia ixx="0.000078" ixy="0.0" ixz="0.0" iyy="0.000078" iyz="0.0" izz="0.000078"/>
    </inertial>
  </link>
  <joint name="sphere_7_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_7"/>
    <origin xyz="0.024562 0.069233 -0.006283" rpy="0 0 0"/>
  </joint>
  <link name="sphere_8">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038636"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038636"/></geometry>
    </collision>
    <inertial>
      <mass value="0.030299"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_8_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_8"/>
    <origin xyz="-0.056614 0.007614 0.051289" rpy="0 0 0"/>
  </joint>
  <link name="sphere_9">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.054293"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.054293"/></geometry>
    </collision>
    <inertial>
      <mass value="0.084080"/>
      <inertia ixx="0.000099" ixy="0.0" ixz="0.0" iyy="0.000099" iyz="0.0" izz="0.000099"/>
    </inertial>
  </link>
  <joint name="sphere_9_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_9"/>
    <origin xyz="-0.009925 -0.083235 0.015510" rpy="0 0 0"/>
  </joint>
  <link name="sphere_10">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.043285"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.043285"/></geometry>
    </collision>
    <inertial>
      <mass value="0.042605"/>
      <inertia ixx="0.000032" ixy="0.0" ixz="0.0" iyy="0.000032" iyz="0.0" izz="0.000032"/>
    </inertial>
  </link>
  <joint name="sphere_10_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_10"/>
    <origin xyz="-0.028144 -0.066312 0.055961" rpy="0 0 0"/>
  </joint>
  <link name="sphere_11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038517"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038517"/></geometry>
    </collision>
    <inertial>
      <mass value="0.030020"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_11_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_11"/>
    <origin xyz="0.031144 0.080629 0.054893" rpy="0 0 0"/>
  </joint>
  <link name="sphere_12">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.044617"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.044617"/></geometry>
    </collision>
    <inertial>
      <mass value="0.046660"/>
      <inertia ixx="0.000037" ixy="0.0" ixz="0.0" iyy="0.000037" iyz="0.0" izz="0.000037"/>
    </inertial>
  </link>
  <joint name="sphere_12_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_12"/>
    <origin xyz="0.043995 0.070639 -0.057164" rpy="0 0 0"/>
  </joint>
  <link name="sphere_13">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038394"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.038394"/></geometry>
    </collision>
    <inertial>
      <mass value="0.029734"/>
      <inertia ixx="0.000018" ixy="0.0" ixz="0.0" iyy="0.000018" iyz="0.0" izz="0.000018"/>
    </inertial>
  </link>
  <joint name="sphere_13_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_13"/>
    <origin xyz="0.044205 -0.071895 0.064020" rpy="0 0 0"/>
  </joint>
  <link name="sphere_14">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035257"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.035257"/></geometry>
    </collision>
    <inertial>
      <mass value="0.023024"/>
      <inertia ixx="0.000011" ixy="0.0" ixz="0.0" iyy="0.000011" iyz="0.0" izz="0.000011"/>
    </inertial>
  </link>
  <joint name="sphere_14_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_14"/>
    <origin xyz="-0.001585 0.010716 0.049816" rpy="0 0 0"/>
  </joint>
  <link name="sphere_15">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.042535"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.042535"/></geometry>
    </collision>
    <inertial>
      <mass value="0.040429"/>
      <inertia ixx="0.000029" ixy="0.0" ixz="0.0" iyy="0.000029" iyz="0.0" izz="0.000029"/>
    </inertial>
  </link>
  <joint name="sphere_15_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_15"/>
    <origin xyz="0.054993 -0.067653 0.015928" rpy="0 0 0"/>
  </joint>
  <link name="sphere_16">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.047189"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.047189"/></geometry>
    </collision>
    <inertial>
      <mass value="0.055204"/>
      <inertia ixx="0.000049" ixy="0.0" ixz="0.0" iyy="0.000049" iyz="0.0" izz="0.000049"/>
    </inertial>
  </link>
  <joint name="sphere_16_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_16"/>
    <origin xyz="-0.036639 0.068362 -0.004688" rpy="0 0 0"/>
  </joint>
  <link name="sphere_17">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.045951"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.045951"/></geometry>
    </collision>
    <inertial>
      <mass value="0.050971"/>
      <inertia ixx="0.000043" ixy="0.0" ixz="0.0" iyy="0.000043" iyz="0.0" izz="0.000043"/>
    </inertial>
  </link>
  <joint name="sphere_17_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_17"/>
    <origin xyz="-0.038957 -0.036716 -0.050882" rpy="0 0 0"/>
  </joint>
  <link name="sphere_18">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.043643"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.043643"/></geometry>
    </collision>
    <inertial>
      <mass value="0.043673"/>
      <inertia ixx="0.000033" ixy="0.0" ixz="0.0" iyy="0.000033" iyz="0.0" izz="0.000033"/>
    </inertial>
  </link>
  <joint name="sphere_18_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_18"/>
    <origin xyz="-0.006045 0.025085 -0.054464" rpy="0 0 0"/>
  </joint>
  <link name="sphere_19">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.044590"/></geometry>
      <material name="default_color"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><sphere radius="0.044590"/></geometry>
    </collision>
    <inertial>
      <mass value="0.046576"/>
      <inertia ixx="0.000037" ixy="0.0" ixz="0.0" iyy="0.000037" iyz="0.0" izz="0.000037"/>
    </inertial>
  </link>
  <joint name="sphere_19_fixed" type="fixed">
    <parent link="base"/>
    <child link="sphere_19"/>
    <origin xyz="-0.038227 -0.042734 0.001755" rpy="0 0 0"/>
  </joint>
</robot>
